<div class="container main-container">
    <h4>Cadastro</h4>
    <hr>
    
    <form [formGroup]="cadastroForm" (ngSubmit)="salvar()">
      <div class="row row-sm-offset">
        <div class="col-md-4">
          <div class="form-group">
            <label>Nome</label>
            <!-- <input type="text" class="form-control" formControlName="nome"
            [ngClass]="{'is-invalid': displayMessage.nome}">
            
            <span class="text-danger" *ngIf="displayMessage.nome">
                <p [innerHTML]="displayMessage.nome"></p>
            </span> -->
          </div>
        </div>
  
        <div class="col-md-4">
            <div class="form-group">
              <label>E-Mail</label>
              <input type="email" class="form-control" formControlName="email"
              [ngClass]="{'is-invalid':cadastroForm.get('email').errors
              &&
              (
                  cadastroForm.get('email').touched ||
                  cadastroForm.get('email').dirty
              )}">
              <span 
              *ngIf="cadastroForm.get('email').errors?.required
              &&
              (
                  cadastroForm.get('email').touched ||
                  cadastroForm.get('email').dirty
              )" 
              class="text-danger">
                  <p>Preencha o e-mail</p>
              </span>
  
              <span 
              *ngIf="cadastroForm.get('email').errors?.email
              &&
              (
                  cadastroForm.get('email').touched ||
                  cadastroForm.get('email').dirty
              )" 
              class="text-danger">
                  <p>E-Mail está inválido</p>
              </span>
            </div>
          </div>
  
        <div class="col-md-4">
          <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}"
            [ngClass]="{'is-invalid':cadastroForm.get('cpf').errors
            &&
            (
                cadastroForm.get('cpf').touched ||
                cadastroForm.get('cpf').dirty
            )}">
            <span 
            *ngIf="cadastroForm.get('cpf').errors?.required
            &&
            (
                cadastroForm.get('cpf').touched ||
                cadastroForm.get('cpf').dirty
            )" 
            class="text-danger">
                <p>Preencha o CPF</p>
            </span>
            <span 
            *ngIf="cadastroForm.get('cpf').errors?.cpf
            &&
            (
                cadastroForm.get('cpf').touched ||
                cadastroForm.get('cpf').dirty
            )" 
            class="text-danger">
                <p>CPF está inválido</p>
            </span>
      </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control"  formControlName="senha"
            [ngClass]="{'is-invalid':cadastroForm.get('senha').errors
            &&
            (
                cadastroForm.get('senha').touched ||
                cadastroForm.get('senha').dirty
            )}">
            
            <span 
            *ngIf="cadastroForm.get('senha').errors
            && 
            (
                cadastroForm.get('senha').touched ||
                cadastroForm.get('senha').dirty
            )" 
            class="text-danger">
                <p>Preencha a senha</p>
            </span>
          </div>
        </div>    
        <div class="col-md-4">
          <div class="form-group">  
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="confirmarSenha"
            [ngClass]="{'is-invalid':cadastroForm.get('confirmarSenha').errors
            &&
            (
                cadastroForm.get('confirmarSenha').touched ||
                cadastroForm.get('confirmarSenha').dirty
            )}">
            
            <span 
            *ngIf="cadastroForm.get('confirmarSenha').errors
            &&
            (
                cadastroForm.get('confirmarSenha').touched ||
                cadastroForm.get('confirmarSenha').dirty
            )" 
            class="text-danger">
                <p>Preencha a confirmação de senha</p>
            </span>
          </div>    
        </div>
      </div>
        
      <button type="submit" class="btn btn-success" [disabled]="!cadastroForm.valid">Submit</button>

      <br>
      <p>Formulário está válido {{cadastroForm.valid}}</p>
      <p>Formulário ganhou foco {{cadastroForm.touched}}</p>
      <p>Formulário foi alterado {{cadastroForm.dirty}}</p>
    </form>    
  </div>
